<!doctype html>
{% load static %}
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header class="container">
        <div class="logo">
            <p class="logo-text">
                <img src="/pictures/logo.jpg" class="logo-pic" width="75" height="75" class="logo-pic">
            Уберем все <br> лишнее из ссылки!</p>
        </div>
        <nav>
            <a href="{% url 'home' %}">Главная</a>

            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'exit' %}">Выйти</a>
            <a href="{% url 'links' %}">Ссылки</a>
            {% else %}
            <a href="{% url 'reg' %}">Зарегистрироваться</a>
            <a href="{% url 'user' %}">Войти</a>
            {% endif %}

        </nav>
    </header>
    {% block main %}
    {% endblock %}
    <footer>Все права защищены</footer>
</body>
</html>